header{
	width: 300px;
	border-right: 2px solid rgb(195, 195, 197);
	padding: 20px;
}
header ul{
	display: flex;
	flex-direction: column;
	gap: 10px;
}
header h1{
	font-size: 30px;
	margin-bottom: 30px;
}